
.contact {
    width: 100%;
    height: 100vh;
    background-color: #0a192f;
    color: #ccc;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .heading {
    font-size: 4rem;
    font-weight: bold;
    border-bottom: 4px solid #ff0080;
  }
  
  .subHeading {
    padding-top: 4px;
    font-size: 2rem;
  }
  
  .formContainer {
    max-width: 600px;
    width: 100%;
  }
  
  .input {
    background-color: #ccd6f6;
    padding: 2px;
  }
  
  .textarea {
    background-color: #ccd6f6;
    padding: 2px;
  }
  
  .submitButton {
    color: #fff;
    border: 2px solid;
    padding: 4px;
    margin: 8px auto;
    display: flex;
    align-items: center;
  }
  
  .submitButton:hover {
    background-color: #ff0080;
    border-color: #ff0080;
  }
  
  .icon {
    width: 300px;
    font-size: 100px; 
    margin-right: 10px; 
    color: #0077B5; 
  }
  
  .icons {
    margin-top: 10px; 
  }
  
