.home {
    width: 100%;
    height: 100vh;
    background-color: #0a192f;
  }
  .viewWorkButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  
  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  
  .textPink {
    font-size: 3rem;
    color: #ff0080;
  }
  
  .textHeading {
    font-size: 4rem;
    font-weight: bold;
    color: #ccd6f6;
  }
  
  .textSubheading {
    font-size: 4rem;
    font-weight: bold;
    color: #8892b0;
  }
  
  .textDescription {
    color: #8892b0;
    padding: 1rem 0;
    max-width: 700px;
  }
  
  .btnViewWork {
    color: black;
    border: 2px solid;
    padding: 6px;
    margin: 8px 0;
    display: flex;
    align-items: center;
  }
  
  .btnViewWork:hover {
    background-color: #ff0080;
    border-color: #ff0080;
  }
  
  .btnIcon {
    margin-left: 8px;
  }
  
  .btnIcon:hover {
    transform: rotate(90deg);
    transition-duration: 0.3s;
  }
  
  .slideOutMenu {
    position: fixed;
    top: 0;
    left: -300px; /* Start off-screen */
    width: 300px;
    height: 100%;
    background-color: #333;
    transition: left 0.3s ease-in-out;
  }
  
  .socialIconsContainer {
    padding: 20px;
  }
  
  .socialIcon {
    font-size: 24px;
    margin-bottom: 10px;
    color: white;
    cursor: pointer;
  }
  
  /* Slide-in animation when opened */
  .menu-open {
    left: 0;
  }
  
  
