.navbar {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center; 
    background-color: #0a192f;
    height: 70px; 
    padding: 0 30px;
}

.menu{
    display: flex;
    align-items: center;
    cursor: pointer;

}

.menu li{
    padding: 1rem;
  

}

.mobile_btn{
    display: none;
    color: whitesmoke;
    
}

@media screen  and (max-width:720px) {

    .mobile_btn{
        display: block;
        position: absolute;
        right: 1rem;
        cursor: pointer;
        z-index: 10;
    }

    .menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100vh;

        background-color: #0a192f;
        z-index: 10;
        transition: left 1s;
    }

    .navbar a{
        font-size: 2rem;
    }
} 

/* Navbar.module.css */

/* ... (other styles) ... */

.socialIcons {
    display: none;
  }
  
  .socialList {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 35%;
    left: 0;
  }
  
  .socialItem {
    width: 160px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -100px;
    transition: margin-left 0.3s;
  }
  
  .socialItem:hover {
    margin-left: -10px;
  }
  
  .socialLink {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #ccc;
  }
  